@import './_header.less';
@import './_footer.less';
@asset-url: 'https://ik.imagekit.io/sdqrv2ex9bq/Casa_Nova';

* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    padding: 5em 0 5em;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: #3B3B3B;
    background-color: rgb(250, 250, 250);

    --accent-color: #073242;
    --accent-color-rgb: 7, 50, 66;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: var(--accent-color);
    }
}