.contact-form-component {
    @media (min-width: 1024px) {
        min-width: 500px;
    }

    & > b {
        display: block;
        padding: 1em;
        font-weight: 500;
        color: #008000;
        background-color: rgba(0, 128, 0, .2);
        border-radius: .5em;
    }

    & > div {
        margin: 1em 0;

        & > input, & > textarea {
            display: inline-block;
            width: 100%;
            padding: .5em 2em;
            font-family: inherit;
            font-weight: inherit;
            font-size: 1em;
            background-color: #FFF;
            border: none;
            border-radius: 0 2em 0 2em;
            box-shadow: 0 .2em 1em rgba(0, 0, 0, .1);

            &::placeholder {
                font-weight: 400;
            }
        }

        & > textarea {
            resize: vertical;
        }

        & > small {
            margin-left: 1em;
            color: #F00;
        }
    }

    & > button {
        padding: .5em 1em;
        font-size: inherit;
        font-weight: 500;
        color: #FFF;
        background-color: var(--accent-color);
        border: none;
        border-radius: 0 2em 0 2em;
        cursor: pointer;
    }
}